.outerContainer {
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 800px;
	height: 500px;
	margin: auto;
	background-color: #333;
	border-radius: 10px;
	overflow: hidden;
	touch-action: none;
}

.draggableBox {
	position: absolute;
	width: 150px;
	background-color: #ca6f1e;
	border-radius: 5px;
	user-select: none;
	touch-action: none;
}

.draggableBox:active {
	background-color: #f9e79f;
}

.draggableBox:hover {
	cursor: pointer;
}

.box {
	display: flex;
	justify-content: center;
	align-items: center;
}
